<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489283007240-gjcuiqtjnn0s8kv8s893mte7p9fi0r8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489283007240-gjcuiqtjnn0s8kv8s893mte7p9fi0r8c</string>
	<key>API_KEY</key>
	<string>AIzaSyDv1msdVJWFOLp8mCr-yU8RvgUbF1LEeIE</string>
	<key>GCM_SENDER_ID</key>
	<string>489283007240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phonglecanh.InstaGo</string>
	<key>PROJECT_ID</key>
	<string>instagoapp-9bd1c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagoapp-9bd1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489283007240:ios:8fce4ac45cf23e4ae0f2bd</string>
</dict>
</plist>